USE [master]
GO
/****** Object:  Database [RapVietDB]    Script Date: 08/06/2026 01:48:30 PM ******/
CREATE DATABASE [RapVietDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RapVietDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RapVietDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RapVietDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RapVietDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RapVietDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RapVietDB]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[checked_by] [int] NOT NULL,
	[checked_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ATTENDANCE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_FNB]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_FNB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[fnb_item_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BOOKING_FNB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_SEATS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_SEATS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BOOKING_SEATS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[showtime_id] [int] NOT NULL,
	[source] [varchar](10) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[total_price] [decimal](12, 2) NOT NULL,
	[qr_code] [varchar](500) NULL,
	[booked_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BOOKINGS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCHES]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCHES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[address] [nvarchar](300) NOT NULL,
	[phone] [varchar](20) NULL,
	[open_time] [time](7) NULL,
	[close_time] [time](7) NULL,
	[status] [varchar](10) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BRANCHES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[showtime_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART_ITEMS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART_ITEMS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[locked_until] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CART_ITEMS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](300) NULL,
	[status] [varchar](10) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CINEMA]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CINEMA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[address] [nvarchar](300) NULL,
	[phone] [varchar](20) NULL,
	[logo_url] [varchar](500) NULL,
	[status] [varchar](10) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CINEMA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTER_DISCOUNTS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTER_DISCOUNTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[applied_by] [int] NOT NULL,
	[reason] [nvarchar](200) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[applied_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_COUNTER_DISCOUNTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISCOUNT_CODES]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOUNT_CODES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[discount_type] [varchar](20) NOT NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
	[max_discount_amount] [decimal](18, 2) NULL,
	[min_order_value] [decimal](18, 2) NOT NULL,
	[max_uses] [int] NOT NULL,
	[used_count] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[last_update] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITE_MOVIES]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITE_MOVIES](
	[user_id] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FAVORITE_MOVIES] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FNB_ITEMS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FNB_ITEMS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](300) NULL,
	[price] [decimal](12, 2) NOT NULL,
	[category] [varchar](10) NOT NULL,
	[stock] [int] NOT NULL,
	[image_url] [varchar](500) NULL,
	[available] [bit] NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FNB_ITEMS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HALLS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HALLS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[total_seats] [int] NOT NULL,
	[hall_type] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_HALLS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGES]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](80) NOT NULL,
	[code] [varchar](10) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LANGUAGES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_LANGUAGES]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_LANGUAGES](
	[movie_id] [int] NOT NULL,
	[language_id] [int] NOT NULL,
	[subtitle] [bit] NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MOVIE_LANGUAGES] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIES]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[duration_min] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[release_date] [date] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[poster_url] [varchar](500) NULL,
	[trailer_url] [varchar](500) NULL,
	[actor] [nvarchar](500) NULL,
	[director] [nvarchar](200) NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MOVIES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIES_CATEGORY]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIES_CATEGORY](
	[movie_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MOVIES_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[branch_id] [int] NULL,
	[sent_by] [int] NOT NULL,
	[type] [varchar](30) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[message] [nvarchar](2000) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[sent_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NOTIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[type] [varchar](10) NOT NULL,
	[method] [varchar](30) NULL,
	[transaction_id] [varchar](200) NULL,
	[status] [varchar](20) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[paid_at] [datetime2](7) NULL,
	[gateway] [varchar](50) NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
	[booking_id] [int] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[status] [varchar](10) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_REVIEWS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT_PRICING]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT_PRICING](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[showtime_id] [int] NOT NULL,
	[seat_type] [varchar](20) NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SEAT_PRICING] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEATS]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEATS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hall_id] [int] NOT NULL,
	[seat_row] [varchar](5) NOT NULL,
	[seat_number] [int] NOT NULL,
	[seat_type] [varchar](20) NOT NULL,
	[maintenance] [bit] NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SEATS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOWTIMES]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOWTIMES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hall_id] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[end_time] [datetime2](7) NOT NULL,
	[base_price] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SHOWTIMES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_BRANCH]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_BRANCH](
	[user_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[position] [nvarchar](100) NOT NULL,
	[assigned_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_STAFF_BRANCH] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NULL,
	[google_id] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[role] [varchar](20) NOT NULL,
	[active] [bit] NOT NULL,
	[email_verified] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_update] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER_HISTORY]    Script Date: 08/06/2026 01:48:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER_HISTORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[discount_code_id] [int] NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
	[used_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] ON 

INSERT [dbo].[ATTENDANCE] ([id], [booking_id], [checked_by], [checked_at]) VALUES (1, 9, 10, CAST(N'2026-06-03T14:35:44.1500000' AS DateTime2))
INSERT [dbo].[ATTENDANCE] ([id], [booking_id], [checked_by], [checked_at]) VALUES (2, 13, 10, CAST(N'2026-06-03T15:02:45.1666667' AS DateTime2))
INSERT [dbo].[ATTENDANCE] ([id], [booking_id], [checked_by], [checked_at]) VALUES (3, 11, 10, CAST(N'2026-06-03T15:05:14.2066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ATTENDANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKING_SEATS] ON 

INSERT [dbo].[BOOKING_SEATS] ([id], [booking_id], [seat_id], [price], [last_update]) VALUES (1, 9, 45, CAST(80000.00 AS Decimal(12, 2)), CAST(N'2026-06-03T14:20:50.2600000' AS DateTime2))
INSERT [dbo].[BOOKING_SEATS] ([id], [booking_id], [seat_id], [price], [last_update]) VALUES (2, 9, 46, CAST(80000.00 AS Decimal(12, 2)), CAST(N'2026-06-03T14:20:50.2600000' AS DateTime2))
INSERT [dbo].[BOOKING_SEATS] ([id], [booking_id], [seat_id], [price], [last_update]) VALUES (3, 10, 45, CAST(80000.00 AS Decimal(12, 2)), CAST(N'2026-06-03T14:21:28.2000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BOOKING_SEATS] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKINGS] ON 

INSERT [dbo].[BOOKINGS] ([id], [user_id], [showtime_id], [source], [status], [total_price], [qr_code], [booked_at], [last_update]) VALUES (9, 10, 1, N'WALKIN', N'USED', CAST(160000.00 AS Decimal(12, 2)), N'RV-WALK-9', CAST(N'2026-06-03T14:20:50.2500000' AS DateTime2), CAST(N'2026-06-03T14:35:44.1533333' AS DateTime2))
INSERT [dbo].[BOOKINGS] ([id], [user_id], [showtime_id], [source], [status], [total_price], [qr_code], [booked_at], [last_update]) VALUES (10, 10, 1, N'WALKIN', N'CONFIRMED', CAST(80000.00 AS Decimal(12, 2)), N'RV-WALK-10', CAST(N'2026-06-03T14:21:28.2000000' AS DateTime2), CAST(N'2026-06-03T14:21:28.2000000' AS DateTime2))
INSERT [dbo].[BOOKINGS] ([id], [user_id], [showtime_id], [source], [status], [total_price], [qr_code], [booked_at], [last_update]) VALUES (11, 10, 1, N'WALKIN', N'USED', CAST(80000.00 AS Decimal(12, 2)), N'RV-WALK-11', CAST(N'2026-06-03T14:33:12.2166667' AS DateTime2), CAST(N'2026-06-03T15:05:14.2100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BOOKINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[BRANCHES] ON 

INSERT [dbo].[BRANCHES] ([id], [cinema_id], [name], [address], [phone], [open_time], [close_time], [status], [last_update]) VALUES (1, 1, N'RapViet Hà Nội', N'Số 1 Nguyễn Trãi, Thanh Xuân, Hà Nội', N'0249998888', CAST(N'08:00:00' AS Time), CAST(N'23:30:00' AS Time), N'ACTIVE', CAST(N'2026-06-02T19:43:26.7000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BRANCHES] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([id], [name], [description], [status], [last_update]) VALUES (1, N'Hành Động', N'Phim hành động kịch tính', N'ACTIVE', CAST(N'2026-06-02T19:43:26.7366667' AS DateTime2))
INSERT [dbo].[CATEGORY] ([id], [name], [description], [status], [last_update]) VALUES (2, N'Hài Hước', N'Phim hài vui nhộn', N'ACTIVE', CAST(N'2026-06-02T19:43:26.7366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[CINEMA] ON 

INSERT [dbo].[CINEMA] ([id], [name], [address], [phone], [logo_url], [status], [last_update]) VALUES (1, N'RapViet Cineplex', N'123 Đường Láng, Đống Đa, Hà Nội', N'0241234567', N'logo.png', N'ACTIVE', CAST(N'2026-06-02T19:43:26.6900000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CINEMA] OFF
GO
SET IDENTITY_INSERT [dbo].[COUNTER_DISCOUNTS] ON 

INSERT [dbo].[COUNTER_DISCOUNTS] ([id], [booking_id], [applied_by], [reason], [amount], [applied_at]) VALUES (1, 16, 10, N'Mã giảm giá: KM10PERCENT', CAST(32000.00 AS Decimal(12, 2)), CAST(N'2026-06-03T15:36:53.6900000' AS DateTime2))
INSERT [dbo].[COUNTER_DISCOUNTS] ([id], [booking_id], [applied_by], [reason], [amount], [applied_at]) VALUES (2, 34, 10, N'Mã giảm giá: RAPVIETNEW', CAST(19000.00 AS Decimal(12, 2)), CAST(N'2026-06-08T13:19:00.3866667' AS DateTime2))
INSERT [dbo].[COUNTER_DISCOUNTS] ([id], [booking_id], [applied_by], [reason], [amount], [applied_at]) VALUES (3, 35, 10, N'Mã giảm giá: RAPVIETNEW', CAST(800.00 AS Decimal(12, 2)), CAST(N'2026-06-08T13:22:09.7633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[COUNTER_DISCOUNTS] OFF
GO
SET IDENTITY_INSERT [dbo].[DISCOUNT_CODES] ON 

INSERT [dbo].[DISCOUNT_CODES] ([id], [code], [discount_type], [discount_value], [max_discount_amount], [min_order_value], [max_uses], [used_count], [start_date], [end_date], [status], [created_at], [last_update]) VALUES (1, N'GIAM20K', N'FLAT', CAST(20000.00 AS Decimal(18, 2)), NULL, CAST(100000.00 AS Decimal(18, 2)), 200, 0, CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2027-12-31T23:59:59.000' AS DateTime), N'ACTIVE', CAST(N'2026-06-03T15:13:14.650' AS DateTime), CAST(N'2026-06-03T15:13:14.650' AS DateTime))
INSERT [dbo].[DISCOUNT_CODES] ([id], [code], [discount_type], [discount_value], [max_discount_amount], [min_order_value], [max_uses], [used_count], [start_date], [end_date], [status], [created_at], [last_update]) VALUES (2, N'KM10PERCENT', N'PERCENT', CAST(10.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), 500, 1, CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2027-12-31T23:59:59.000' AS DateTime), N'ACTIVE', CAST(N'2026-06-03T15:13:14.650' AS DateTime), CAST(N'2026-06-03T15:36:53.777' AS DateTime))
INSERT [dbo].[DISCOUNT_CODES] ([id], [code], [discount_type], [discount_value], [max_discount_amount], [min_order_value], [max_uses], [used_count], [start_date], [end_date], [status], [created_at], [last_update]) VALUES (3, N'RAPVIETNEW', N'PERCENT', CAST(20.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 100, 5, CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2027-12-31T23:59:59.000' AS DateTime), N'ACTIVE', CAST(N'2026-06-03T15:13:14.650' AS DateTime), CAST(N'2026-06-08T13:27:38.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[DISCOUNT_CODES] OFF
GO
SET IDENTITY_INSERT [dbo].[HALLS] ON 

INSERT [dbo].[HALLS] ([id], [branch_id], [name], [total_seats], [hall_type], [status], [last_update]) VALUES (1, 1, N'Phòng Chiếu Số 1', 100, N'1', N'1', CAST(N'2026-05-29T12:08:51.0166667' AS DateTime2))
INSERT [dbo].[HALLS] ([id], [branch_id], [name], [total_seats], [hall_type], [status], [last_update]) VALUES (2, 1, N'Phòng Chiếu 1 (Standard)', 25, N'STANDARD', N'ACTIVE', CAST(N'2026-06-02T19:43:26.7066667' AS DateTime2))
INSERT [dbo].[HALLS] ([id], [branch_id], [name], [total_seats], [hall_type], [status], [last_update]) VALUES (3, 1, N'Phòng Chiếu 2 (VIP)', 16, N'VIP', N'ACTIVE', CAST(N'2026-06-02T19:43:26.7066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HALLS] OFF
GO
SET IDENTITY_INSERT [dbo].[LANGUAGES] ON 

INSERT [dbo].[LANGUAGES] ([id], [name], [code], [status], [last_update]) VALUES (1, N'Tiếng Việt', N'VI', N'ACTIVE', CAST(N'2026-06-02T19:43:26.7400000' AS DateTime2))
INSERT [dbo].[LANGUAGES] ([id], [name], [code], [status], [last_update]) VALUES (2, N'Tiếng Anh', N'EN', N'ACTIVE', CAST(N'2026-06-02T19:43:26.7400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LANGUAGES] OFF
GO
INSERT [dbo].[MOVIE_LANGUAGES] ([movie_id], [language_id], [subtitle], [last_update]) VALUES (1, 1, 0, CAST(N'2026-06-02T19:43:26.7500000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[MOVIES] ON 

INSERT [dbo].[MOVIES] ([id], [title], [duration_min], [description], [release_date], [status], [poster_url], [trailer_url], [actor], [director], [last_update]) VALUES (1, N'Lật Mặt 7: Một Điều Ước', 138, N'Một câu chuyện gia đình đầy cảm động...', CAST(N'2026-05-01' AS Date), N'NOW_SHOWING', N'https://m.media-amazon.com/images/M/MV5BMzY3NTY3M2EtZTY5Mi00NDM0LTg5YjgtZmM1MDkyMmVkMTRiXkEyXkFqcGc@._V1_.jpg', N'trailer.mp4', N'Thanh Hằng, Trương Minh Cường', N'Lý Hải', CAST(N'2026-06-02T19:43:26.7400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MOVIES] OFF
GO
INSERT [dbo].[MOVIES_CATEGORY] ([movie_id], [category_id], [last_update]) VALUES (1, 1, CAST(N'2026-06-02T19:43:26.7500000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[PAYMENTS] ON 

INSERT [dbo].[PAYMENTS] ([id], [booking_id], [type], [method], [transaction_id], [status], [amount], [paid_at], [gateway], [last_update]) VALUES (1, 9, N'CASH', N'CASH', N'CASH-TX-1780471250269-9', N'SUCCESS', CAST(160000.00 AS Decimal(12, 2)), CAST(N'2026-06-03T14:20:50.2733333' AS DateTime2), NULL, CAST(N'2026-06-03T14:20:50.2733333' AS DateTime2))
INSERT [dbo].[PAYMENTS] ([id], [booking_id], [type], [method], [transaction_id], [status], [amount], [paid_at], [gateway], [last_update]) VALUES (2, 10, N'CASH', N'CASH', N'CASH-TX-1780471288201-10', N'SUCCESS', CAST(80000.00 AS Decimal(12, 2)), CAST(N'2026-06-03T14:21:28.2000000' AS DateTime2), NULL, CAST(N'2026-06-03T14:21:28.2000000' AS DateTime2))
INSERT [dbo].[PAYMENTS] ([id], [booking_id], [type], [method], [transaction_id], [status], [amount], [paid_at], [gateway], [last_update]) VALUES (3, 11, N'CASH', N'CASH', N'CASH-TX-1780471992224-11', N'SUCCESS', CAST(80000.00 AS Decimal(12, 2)), CAST(N'2026-06-03T14:33:12.2233333' AS DateTime2), NULL, CAST(N'2026-06-03T14:33:12.2233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PAYMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[SEAT_PRICING] ON 

INSERT [dbo].[SEAT_PRICING] ([id], [showtime_id], [seat_type], [price], [last_update]) VALUES (1, 1, N'COUPLE', CAST(200000.00 AS Decimal(12, 2)), CAST(N'2026-06-02T19:50:16.9100000' AS DateTime2))
INSERT [dbo].[SEAT_PRICING] ([id], [showtime_id], [seat_type], [price], [last_update]) VALUES (2, 1, N'VIP', CAST(120000.00 AS Decimal(12, 2)), CAST(N'2026-06-02T19:48:52.1633333' AS DateTime2))
INSERT [dbo].[SEAT_PRICING] ([id], [showtime_id], [seat_type], [price], [last_update]) VALUES (3, 1, N'STANDARD', CAST(4000.00 AS Decimal(12, 2)), CAST(N'2026-06-04T22:36:28.2166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SEAT_PRICING] OFF
GO
SET IDENTITY_INSERT [dbo].[SEATS] ON 

INSERT [dbo].[SEATS] ([id], [hall_id], [seat_row], [seat_number], [seat_type], [maintenance], [last_update]) VALUES (43, 2, N'A', 1, N'STANDARD', 0, CAST(N'2026-06-02T19:43:26.7133333' AS DateTime2))
INSERT [dbo].[SEATS] ([id], [hall_id], [seat_row], [seat_number], [seat_type], [maintenance], [last_update]) VALUES (44, 2, N'A', 2, N'STANDARD', 0, CAST(N'2026-06-02T19:43:26.7133333' AS DateTime2))
INSERT [dbo].[SEATS] ([id], [hall_id], [seat_row], [seat_number], [seat_type], [maintenance], [last_update]) VALUES (45, 2, N'A', 3, N'STANDARD', 0, CAST(N'2026-06-02T19:43:26.7133333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[SEATS] OFF
GO
SET IDENTITY_INSERT [dbo].[SHOWTIMES] ON 

INSERT [dbo].[SHOWTIMES] ([id], [hall_id], [movie_id], [start_time], [end_time], [base_price], [status], [last_update]) VALUES (1, 2, 1, CAST(N'2026-06-02T21:43:26.7533333' AS DateTime2), CAST(N'2026-06-02T23:43:26.7533333' AS DateTime2), CAST(80000.00 AS Decimal(12, 2)), N'ON_SALE', CAST(N'2026-06-02T19:43:26.7533333' AS DateTime2))
INSERT [dbo].[SHOWTIMES] ([id], [hall_id], [movie_id], [start_time], [end_time], [base_price], [status], [last_update]) VALUES (2, 1, 1, CAST(N'2026-06-03T09:00:00.0000000' AS DateTime2), CAST(N'2026-06-03T11:00:00.0000000' AS DateTime2), CAST(80000.00 AS Decimal(12, 2)), N'ON_SALE', CAST(N'2026-06-03T15:17:12.4366667' AS DateTime2))
INSERT [dbo].[SHOWTIMES] ([id], [hall_id], [movie_id], [start_time], [end_time], [base_price], [status], [last_update]) VALUES (3, 1, 1, CAST(N'2026-06-03T13:00:00.0000000' AS DateTime2), CAST(N'2026-06-03T15:00:00.0000000' AS DateTime2), CAST(85000.00 AS Decimal(12, 2)), N'ON_SALE', CAST(N'2026-06-03T15:17:12.4366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SHOWTIMES] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([id], [full_name], [email], [password_hash], [google_id], [phone], [role], [active], [email_verified], [created_at], [last_update]) VALUES (10, N'Staff/Customer POS', N'staff10@cinema.com', N'123', NULL, N'0123456789', N'STAFF', 1, 1, CAST(N'2026-06-03T14:20:21.9000000' AS DateTime2), CAST(N'2026-06-03T14:20:21.9000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
/****** Object:  Index [UQ_ATT_booking]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[ATTENDANCE] ADD  CONSTRAINT [UQ_ATT_booking] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ATT_checked]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ATT_checked] ON [dbo].[ATTENDANCE]
(
	[checked_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_BS_seat]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[BOOKING_SEATS] ADD  CONSTRAINT [UQ_BS_seat] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BS_seat]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BS_seat] ON [dbo].[BOOKING_SEATS]
(
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BK_showtime]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BK_showtime] ON [dbo].[BOOKINGS]
(
	[showtime_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BK_source]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BK_source] ON [dbo].[BOOKINGS]
(
	[source] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BK_user]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BK_user] ON [dbo].[BOOKINGS]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CI_seat]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[CART_ITEMS] ADD  CONSTRAINT [UQ_CI_seat] UNIQUE NONCLUSTERED 
(
	[cart_id] ASC,
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BS_lock]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_BS_lock] ON [dbo].[CART_ITEMS]
(
	[seat_id] ASC,
	[locked_until] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CAT_name]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [UQ_CAT_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DISCOUNT__357D4CF951A610EC]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[DISCOUNT_CODES] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FAV_user]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_FAV_user] ON [dbo].[FAVORITE_MOVIES]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FNB_branch]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_FNB_branch] ON [dbo].[FNB_ITEMS]
(
	[branch_id] ASC,
	[available] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LANG_code]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[LANGUAGES] ADD  CONSTRAINT [UQ_LANG_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MOV_status]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_MOV_status] ON [dbo].[MOVIES]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NOTIF_user]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_NOTIF_user] ON [dbo].[NOTIFICATIONS]
(
	[user_id] ASC,
	[sent_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PAY_booking]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[PAYMENTS] ADD  CONSTRAINT [UQ_PAY_booking] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PAY_status]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_PAY_status] ON [dbo].[PAYMENTS]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RV_booking]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[REVIEWS] ADD  CONSTRAINT [UQ_RV_booking] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RV_movie]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_RV_movie] ON [dbo].[REVIEWS]
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SP_pair]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[SEAT_PRICING] ADD  CONSTRAINT [UQ_SP_pair] UNIQUE NONCLUSTERED 
(
	[showtime_id] ASC,
	[seat_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SEAT_pos]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[SEATS] ADD  CONSTRAINT [UQ_SEAT_pos] UNIQUE NONCLUSTERED 
(
	[hall_id] ASC,
	[seat_row] ASC,
	[seat_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ST_hall]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ST_hall] ON [dbo].[SHOWTIMES]
(
	[hall_id] ASC,
	[start_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ST_movie]    Script Date: 08/06/2026 01:48:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ST_movie] ON [dbo].[SHOWTIMES]
(
	[movie_id] ASC,
	[start_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_USER_email]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [UQ_USER_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_USER_google]    Script Date: 08/06/2026 01:48:31 PM ******/
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [UQ_USER_google] UNIQUE NONCLUSTERED 
(
	[google_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATTENDANCE] ADD  CONSTRAINT [DF_ATT_ca]  DEFAULT (getdate()) FOR [checked_at]
GO
ALTER TABLE [dbo].[BOOKING_FNB] ADD  CONSTRAINT [DF_BFNB_st]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[BOOKING_FNB] ADD  CONSTRAINT [DF_BFNB_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[BOOKING_SEATS] ADD  CONSTRAINT [DF_BS_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  CONSTRAINT [DF_BK_src]  DEFAULT ('ONLINE') FOR [source]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  CONSTRAINT [DF_BK_st]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  CONSTRAINT [DF_BK_ba]  DEFAULT (getdate()) FOR [booked_at]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  CONSTRAINT [DF_BK_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[BRANCHES] ADD  CONSTRAINT [DF_BR_st]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[BRANCHES] ADD  CONSTRAINT [DF_BR_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[CART] ADD  CONSTRAINT [DF_CART_ca]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CART] ADD  CONSTRAINT [DF_CART_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[CART_ITEMS] ADD  CONSTRAINT [DF_CI_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF_CAT_st]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF_CAT_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[CINEMA] ADD  CONSTRAINT [DF_CIN_st]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[CINEMA] ADD  CONSTRAINT [DF_CIN_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[COUNTER_DISCOUNTS] ADD  CONSTRAINT [DF_CD_aa]  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[DISCOUNT_CODES] ADD  DEFAULT ((0.00)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[DISCOUNT_CODES] ADD  DEFAULT ((100)) FOR [max_uses]
GO
ALTER TABLE [dbo].[DISCOUNT_CODES] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[DISCOUNT_CODES] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[DISCOUNT_CODES] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DISCOUNT_CODES] ADD  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[FAVORITE_MOVIES] ADD  CONSTRAINT [DF_FAV_ca]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[FNB_ITEMS] ADD  CONSTRAINT [DF_FNB_cat]  DEFAULT ('FOOD') FOR [category]
GO
ALTER TABLE [dbo].[FNB_ITEMS] ADD  CONSTRAINT [DF_FNB_stk]  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[FNB_ITEMS] ADD  CONSTRAINT [DF_FNB_av]  DEFAULT ((1)) FOR [available]
GO
ALTER TABLE [dbo].[FNB_ITEMS] ADD  CONSTRAINT [DF_FNB_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[HALLS] ADD  CONSTRAINT [DF_HALL_ht]  DEFAULT ('STANDARD') FOR [hall_type]
GO
ALTER TABLE [dbo].[HALLS] ADD  CONSTRAINT [DF_HALL_st]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[HALLS] ADD  CONSTRAINT [DF_HALL_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[LANGUAGES] ADD  CONSTRAINT [DF_LANG_st]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[LANGUAGES] ADD  CONSTRAINT [DF_LANG_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGES] ADD  CONSTRAINT [DF_ML_sub]  DEFAULT ((0)) FOR [subtitle]
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGES] ADD  CONSTRAINT [DF_ML_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[MOVIES] ADD  CONSTRAINT [DF_MOV_st]  DEFAULT ('COMING_SOON') FOR [status]
GO
ALTER TABLE [dbo].[MOVIES] ADD  CONSTRAINT [DF_MOV_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[MOVIES_CATEGORY] ADD  CONSTRAINT [DF_MC_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  CONSTRAINT [DF_NOTIF_st]  DEFAULT ('SENT') FOR [status]
GO
ALTER TABLE [dbo].[NOTIFICATIONS] ADD  CONSTRAINT [DF_NOTIF_sa]  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  CONSTRAINT [DF_PAY_type]  DEFAULT ('ONLINE') FOR [type]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  CONSTRAINT [DF_PAY_st]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  CONSTRAINT [DF_PAY_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  CONSTRAINT [DF_RV_st]  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  CONSTRAINT [DF_RV_ca]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  CONSTRAINT [DF_RV_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[SEAT_PRICING] ADD  CONSTRAINT [DF_SP_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[SEATS] ADD  CONSTRAINT [DF_SEAT_st]  DEFAULT ('STANDARD') FOR [seat_type]
GO
ALTER TABLE [dbo].[SEATS] ADD  CONSTRAINT [DF_SEAT_mn]  DEFAULT ((0)) FOR [maintenance]
GO
ALTER TABLE [dbo].[SEATS] ADD  CONSTRAINT [DF_SEAT_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[SHOWTIMES] ADD  CONSTRAINT [DF_ST_st]  DEFAULT ('SCHEDULED') FOR [status]
GO
ALTER TABLE [dbo].[SHOWTIMES] ADD  CONSTRAINT [DF_ST_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[STAFF_BRANCH] ADD  CONSTRAINT [DF_SB_aa]  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_role]  DEFAULT ('CUSTOMER') FOR [role]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_ev]  DEFAULT ((0)) FOR [email_verified]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_ca]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_lu]  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[VOUCHER_HISTORY] ADD  DEFAULT (getdate()) FOR [used_at]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATT_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKINGS] ([id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATT_booking]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK_ATT_staff] FOREIGN KEY([checked_by])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [FK_ATT_staff]
GO
ALTER TABLE [dbo].[BOOKING_FNB]  WITH CHECK ADD  CONSTRAINT [FK_BFNB_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKINGS] ([id])
GO
ALTER TABLE [dbo].[BOOKING_FNB] CHECK CONSTRAINT [FK_BFNB_booking]
GO
ALTER TABLE [dbo].[BOOKING_FNB]  WITH CHECK ADD  CONSTRAINT [FK_BFNB_item] FOREIGN KEY([fnb_item_id])
REFERENCES [dbo].[FNB_ITEMS] ([id])
GO
ALTER TABLE [dbo].[BOOKING_FNB] CHECK CONSTRAINT [FK_BFNB_item]
GO
ALTER TABLE [dbo].[BOOKING_SEATS]  WITH CHECK ADD  CONSTRAINT [FK_BS_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKINGS] ([id])
GO
ALTER TABLE [dbo].[BOOKING_SEATS] CHECK CONSTRAINT [FK_BS_booking]
GO
ALTER TABLE [dbo].[BOOKING_SEATS]  WITH CHECK ADD  CONSTRAINT [FK_BS_seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[SEATS] ([id])
GO
ALTER TABLE [dbo].[BOOKING_SEATS] CHECK CONSTRAINT [FK_BS_seat]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BK_showtime] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[SHOWTIMES] ([id])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BK_showtime]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BK_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BK_user]
GO
ALTER TABLE [dbo].[BRANCHES]  WITH CHECK ADD  CONSTRAINT [FK_BR_cinema] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[CINEMA] ([id])
GO
ALTER TABLE [dbo].[BRANCHES] CHECK CONSTRAINT [FK_BR_cinema]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_st] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[SHOWTIMES] ([id])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_st]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_user]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CI_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[CART] ([id])
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [FK_CI_cart]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_CI_seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[SEATS] ([id])
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [FK_CI_seat]
GO
ALTER TABLE [dbo].[COUNTER_DISCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_CD_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKINGS] ([id])
GO
ALTER TABLE [dbo].[COUNTER_DISCOUNTS] CHECK CONSTRAINT [FK_CD_booking]
GO
ALTER TABLE [dbo].[COUNTER_DISCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_CD_staff] FOREIGN KEY([applied_by])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[COUNTER_DISCOUNTS] CHECK CONSTRAINT [FK_CD_staff]
GO
ALTER TABLE [dbo].[FAVORITE_MOVIES]  WITH CHECK ADD  CONSTRAINT [FK_FAV_movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[MOVIES] ([id])
GO
ALTER TABLE [dbo].[FAVORITE_MOVIES] CHECK CONSTRAINT [FK_FAV_movie]
GO
ALTER TABLE [dbo].[FAVORITE_MOVIES]  WITH CHECK ADD  CONSTRAINT [FK_FAV_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[FAVORITE_MOVIES] CHECK CONSTRAINT [FK_FAV_user]
GO
ALTER TABLE [dbo].[FNB_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_FNB_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[BRANCHES] ([id])
GO
ALTER TABLE [dbo].[FNB_ITEMS] CHECK CONSTRAINT [FK_FNB_branch]
GO
ALTER TABLE [dbo].[HALLS]  WITH NOCHECK ADD  CONSTRAINT [FK_HALL_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[BRANCHES] ([id])
GO
ALTER TABLE [dbo].[HALLS] CHECK CONSTRAINT [FK_HALL_branch]
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGES]  WITH CHECK ADD  CONSTRAINT [FK_ML_language] FOREIGN KEY([language_id])
REFERENCES [dbo].[LANGUAGES] ([id])
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGES] CHECK CONSTRAINT [FK_ML_language]
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGES]  WITH CHECK ADD  CONSTRAINT [FK_ML_movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[MOVIES] ([id])
GO
ALTER TABLE [dbo].[MOVIE_LANGUAGES] CHECK CONSTRAINT [FK_ML_movie]
GO
ALTER TABLE [dbo].[MOVIES_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_MC_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[CATEGORY] ([id])
GO
ALTER TABLE [dbo].[MOVIES_CATEGORY] CHECK CONSTRAINT [FK_MC_category]
GO
ALTER TABLE [dbo].[MOVIES_CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_MC_movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[MOVIES] ([id])
GO
ALTER TABLE [dbo].[MOVIES_CATEGORY] CHECK CONSTRAINT [FK_MC_movie]
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIF_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[BRANCHES] ([id])
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [FK_NOTIF_branch]
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIF_sender] FOREIGN KEY([sent_by])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [FK_NOTIF_sender]
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIF_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [FK_NOTIF_user]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAY_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKINGS] ([id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAY_booking]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_RV_booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKINGS] ([id])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_RV_booking]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_RV_movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[MOVIES] ([id])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_RV_movie]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_RV_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_RV_user]
GO
ALTER TABLE [dbo].[SEAT_PRICING]  WITH CHECK ADD  CONSTRAINT [FK_SP_showtime] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[SHOWTIMES] ([id])
GO
ALTER TABLE [dbo].[SEAT_PRICING] CHECK CONSTRAINT [FK_SP_showtime]
GO
ALTER TABLE [dbo].[SEATS]  WITH NOCHECK ADD  CONSTRAINT [FK_SEAT_hall] FOREIGN KEY([hall_id])
REFERENCES [dbo].[HALLS] ([id])
GO
ALTER TABLE [dbo].[SEATS] CHECK CONSTRAINT [FK_SEAT_hall]
GO
ALTER TABLE [dbo].[SHOWTIMES]  WITH CHECK ADD  CONSTRAINT [FK_ST_hall] FOREIGN KEY([hall_id])
REFERENCES [dbo].[HALLS] ([id])
GO
ALTER TABLE [dbo].[SHOWTIMES] CHECK CONSTRAINT [FK_ST_hall]
GO
ALTER TABLE [dbo].[SHOWTIMES]  WITH CHECK ADD  CONSTRAINT [FK_ST_movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[MOVIES] ([id])
GO
ALTER TABLE [dbo].[SHOWTIMES] CHECK CONSTRAINT [FK_ST_movie]
GO
ALTER TABLE [dbo].[STAFF_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_SB_branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[BRANCHES] ([id])
GO
ALTER TABLE [dbo].[STAFF_BRANCH] CHECK CONSTRAINT [FK_SB_branch]
GO
ALTER TABLE [dbo].[STAFF_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_SB_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[STAFF_BRANCH] CHECK CONSTRAINT [FK_SB_user]
GO
ALTER TABLE [dbo].[VOUCHER_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_VoucherHistory_Discount] FOREIGN KEY([discount_code_id])
REFERENCES [dbo].[DISCOUNT_CODES] ([id])
GO
ALTER TABLE [dbo].[VOUCHER_HISTORY] CHECK CONSTRAINT [FK_VoucherHistory_Discount]
GO
ALTER TABLE [dbo].[BOOKING_FNB]  WITH CHECK ADD  CONSTRAINT [CK_BFNB_price] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[BOOKING_FNB] CHECK CONSTRAINT [CK_BFNB_price]
GO
ALTER TABLE [dbo].[BOOKING_FNB]  WITH CHECK ADD  CONSTRAINT [CK_BFNB_qty] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[BOOKING_FNB] CHECK CONSTRAINT [CK_BFNB_qty]
GO
ALTER TABLE [dbo].[BOOKING_FNB]  WITH CHECK ADD  CONSTRAINT [CK_BFNB_status] CHECK  (([status]='DELIVERED' OR [status]='READY' OR [status]='PREPARING' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[BOOKING_FNB] CHECK CONSTRAINT [CK_BFNB_status]
GO
ALTER TABLE [dbo].[BOOKING_SEATS]  WITH CHECK ADD  CONSTRAINT [CK_BS_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[BOOKING_SEATS] CHECK CONSTRAINT [CK_BS_price]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [CK_BK_source] CHECK  (([source]='WALKIN' OR [source]='ONLINE'))
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [CK_BK_source]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [CK_BK_status] CHECK  (([status]='CANCELLED' OR [status]='USED' OR [status]='CHECKED_IN' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [CK_BK_status]
GO
ALTER TABLE [dbo].[BRANCHES]  WITH CHECK ADD  CONSTRAINT [CK_BR_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[BRANCHES] CHECK CONSTRAINT [CK_BR_status]
GO
ALTER TABLE [dbo].[CART_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_CI_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[CART_ITEMS] CHECK CONSTRAINT [CK_CI_price]
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [CK_CAT_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [CK_CAT_status]
GO
ALTER TABLE [dbo].[CINEMA]  WITH CHECK ADD  CONSTRAINT [CK_CIN_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[CINEMA] CHECK CONSTRAINT [CK_CIN_status]
GO
ALTER TABLE [dbo].[COUNTER_DISCOUNTS]  WITH CHECK ADD  CONSTRAINT [CK_CD_amount] CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[COUNTER_DISCOUNTS] CHECK CONSTRAINT [CK_CD_amount]
GO
ALTER TABLE [dbo].[DISCOUNT_CODES]  WITH CHECK ADD CHECK  (([discount_type]='FLAT' OR [discount_type]='PERCENT'))
GO
ALTER TABLE [dbo].[DISCOUNT_CODES]  WITH CHECK ADD CHECK  (([status]='EXPIRED' OR [status]='PAUSED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[FNB_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_FNB_cat] CHECK  (([category]='SNACK' OR [category]='COMBO' OR [category]='DRINK' OR [category]='FOOD'))
GO
ALTER TABLE [dbo].[FNB_ITEMS] CHECK CONSTRAINT [CK_FNB_cat]
GO
ALTER TABLE [dbo].[FNB_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_FNB_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[FNB_ITEMS] CHECK CONSTRAINT [CK_FNB_price]
GO
ALTER TABLE [dbo].[FNB_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_FNB_stock] CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[FNB_ITEMS] CHECK CONSTRAINT [CK_FNB_stock]
GO
ALTER TABLE [dbo].[HALLS]  WITH NOCHECK ADD  CONSTRAINT [CK_HALL_status] CHECK  (([status]='INACTIVE' OR [status]='MAINTENANCE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[HALLS] CHECK CONSTRAINT [CK_HALL_status]
GO
ALTER TABLE [dbo].[HALLS]  WITH NOCHECK ADD  CONSTRAINT [CK_HALL_type] CHECK  (([hall_type]='PREMIUM' OR [hall_type]='4DX' OR [hall_type]='IMAX' OR [hall_type]='VIP' OR [hall_type]='STANDARD'))
GO
ALTER TABLE [dbo].[HALLS] CHECK CONSTRAINT [CK_HALL_type]
GO
ALTER TABLE [dbo].[LANGUAGES]  WITH CHECK ADD  CONSTRAINT [CK_LANG_status] CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[LANGUAGES] CHECK CONSTRAINT [CK_LANG_status]
GO
ALTER TABLE [dbo].[MOVIES]  WITH CHECK ADD  CONSTRAINT [CK_MOV_duration] CHECK  (([duration_min]>(0)))
GO
ALTER TABLE [dbo].[MOVIES] CHECK CONSTRAINT [CK_MOV_duration]
GO
ALTER TABLE [dbo].[MOVIES]  WITH CHECK ADD  CONSTRAINT [CK_MOV_status] CHECK  (([status]='ENDED' OR [status]='NOW_SHOWING' OR [status]='COMING_SOON'))
GO
ALTER TABLE [dbo].[MOVIES] CHECK CONSTRAINT [CK_MOV_status]
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [CK_NOTIF_status] CHECK  (([status]='DRAFT' OR [status]='FAILED' OR [status]='SENT'))
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [CK_NOTIF_status]
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [CK_NOTIF_type] CHECK  (([type]='SYSTEM' OR [type]='PROMOTION' OR [type]='PAYMENT_CONFIRM' OR [type]='BOOKING_CONFIRM'))
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [CK_NOTIF_type]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [CK_PAY_amount] CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [CK_PAY_amount]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [CK_PAY_method] CHECK  (([method]='BANKING' OR [method]='CASH' OR [method]='ZALOPAY' OR [method]='MOMO' OR [method]='VNPAY' OR [method] IS NULL))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [CK_PAY_method]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [CK_PAY_status] CHECK  (([status]='FAILED' OR [status]='SUCCESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [CK_PAY_status]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [CK_PAY_type] CHECK  (([type]='CASH' OR [type]='ONLINE'))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [CK_PAY_type]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [CK_RV_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [CK_RV_rating]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [CK_RV_status] CHECK  (([status]='HIDDEN' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [CK_RV_status]
GO
ALTER TABLE [dbo].[SEAT_PRICING]  WITH CHECK ADD  CONSTRAINT [CK_SP_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[SEAT_PRICING] CHECK CONSTRAINT [CK_SP_price]
GO
ALTER TABLE [dbo].[SEAT_PRICING]  WITH CHECK ADD  CONSTRAINT [CK_SP_type] CHECK  (([seat_type]='COUPLE' OR [seat_type]='VIP' OR [seat_type]='STANDARD'))
GO
ALTER TABLE [dbo].[SEAT_PRICING] CHECK CONSTRAINT [CK_SP_type]
GO
ALTER TABLE [dbo].[SEATS]  WITH NOCHECK ADD  CONSTRAINT [CK_SEAT_type] CHECK  (([seat_type]='COUPLE' OR [seat_type]='VIP' OR [seat_type]='STANDARD'))
GO
ALTER TABLE [dbo].[SEATS] CHECK CONSTRAINT [CK_SEAT_type]
GO
ALTER TABLE [dbo].[SHOWTIMES]  WITH CHECK ADD  CONSTRAINT [CK_ST_price] CHECK  (([base_price]>=(0)))
GO
ALTER TABLE [dbo].[SHOWTIMES] CHECK CONSTRAINT [CK_ST_price]
GO
ALTER TABLE [dbo].[SHOWTIMES]  WITH CHECK ADD  CONSTRAINT [CK_ST_status] CHECK  (([status]='COMPLETED' OR [status]='CANCELLED' OR [status]='ON_SALE' OR [status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[SHOWTIMES] CHECK CONSTRAINT [CK_ST_status]
GO
ALTER TABLE [dbo].[SHOWTIMES]  WITH CHECK ADD  CONSTRAINT [CK_ST_time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[SHOWTIMES] CHECK CONSTRAINT [CK_ST_time]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [CK_USER_auth] CHECK  (([password_hash] IS NOT NULL OR [google_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [CK_USER_auth]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [CK_USER_role] CHECK  (([role]='ADMIN' OR [role]='MANAGER' OR [role]='STAFF' OR [role]='CUSTOMER' OR [role]='GUEST'))
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [CK_USER_role]
GO
USE [master]
GO
